@use 'helpers' as *;

:root {
  --color-black-blue: #42567a;
  --color-blue: #3877ee;
  --color-light: #f4f5f9;
  --color-fuschia: #ef5da8;
  --color-iris: #5d5fef;
  --color-white: #ffffff;

  --border-color: rgba(66, 86, 122, 0.1);

  --font-family-base: 'PT Sans', sans-serif;
  --font-family-accent: 'Bebas Neue', sans-serif;

  --container-width: 1440px;
  --container-padding-x: 20px;

  --transition-duration: 0.2s;
}
