@use '@/shared/styles/helpers' as *;

.historicalDates {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100dvh;
  padding: 60px 0 15px 0;

  @include tablet-above {
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    padding: 170px 80px 100px 80px;

    &:after {
      @include abs-center();
      z-index: -1;
      content: '';
      width: 100%;
      height: 1px;
      background-color: var(--border-color);
      transform: translateY(-50px);
    }

    &:before {
      @include abs-center();
      z-index: -1;
      content: '';
      width: 1px;
      height: 100%;
      background-color: var(--border-color);
    }
  }

  .historicalDatesTitle {
    position: relative;
    font-weight: 700;
    line-height: 1.2;

    @include fluid-text(56, 20);

    @include tablet-above {
      &:before {
        @include abs-y;

        content: '';
        left: -80px;
        width: 6px;
        height: 120px;
        background: #3877ee;
        background: linear-gradient(
          180deg,
          var(--color-blue) 0%,
          var(--color-fuschia) 100%
        );
      }
    }
  }

  .historicalDatesBody {
    @include tablet-above {
      display: flex;
      align-items: flex-end;
      flex: 1;
      margin-bottom: 50px;
    }

    @include tablet {
      padding-block: 56px;
    }
  }

  .events {
    @include tablet {
      flex: 1;
    }
  }

  .footer {
    position: relative;
  }
}
